.slider {
    height: 613px;

    background-color: #e8e8e8;
}


.slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;

    background-image: url(../images/index/slider.jpg);
    background-repeat: no-repeat;
    background-position: 20px -51px;
}

.slider-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;
    justify-content: space-between;
    height: 92px;
    margin-top: 223px;
    padding-left: 12px;

    border-left: 12px solid #f16d7f;

    color: #222;
    font-weight: 700;

    text-transform: uppercase;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.slider-title-first {
    font-size: 60px;
    line-height: .7em;
    letter-spacing: 1.5px;
}

.slider-title-second {
    font-size: 40px;
    line-height: .75em;
    letter-spacing: 1px;
}

.slider-title-second span {
    color: #f16d7f;
}

.promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-top: 95px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.promo > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.promo > div > a:first-child {
    margin-bottom: 17px;
}

.promo a {
    position: relative;
}

.promo-label {
    position: absolute;
    top: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 85px;
    padding: 18px 20px 17px 20px;

    background-color: #fff;

    text-transform: uppercase;
}

.promo-label p:first-child {
    color: #222;
    font-size: 18px;
    font-weight: 900;
    line-height: .78;
    letter-spacing: .45px;
}

.promo-label p:last-child {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.8;
    letter-spacing: .75px;
}






.browse-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
    height: 48px;
    margin: 0 auto;

    background-color: #f16d7f;

    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.browse-all:hover {
    background-color: #e26677;
}


.browse-all img {
    margin-top: 5px;
    margin-left: 10px;
}
