.product-header {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 150px;
    background-color: #f8f3f4;
}


.product-header .container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


}

.product-header h1 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.breadcrumbs,
.breadcrumbs a {

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #636363;
    font-weight: 300;

}

.breadcrumbs a:hover {
    color: #f16d7f;
}

.breadcrumbs span {
    color: #f16d7f;
    font-weight: 700;
}

.catalogue {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
}

.left-nav {
    width: 240px;
}

.left-nav-group {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;



    padding-left: 14px;
    padding-right: 7px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;


    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    border-left: 6px solid #ef5b70;
    ;

}

.left-nav > .bottom-border {
    border-top: 1px solid #ebebeb;
    margin-bottom: 15px;
}


.left-nav-group.opened {
    color: #ef5b70;
}

.left-nav-group.closed {
    color: #6f6e6e;
}

.left-nav > ul {
    margin: 0 0 15px;
    padding-left: 20px;
    list-style: none;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
}

.left-nav > ul a {
    color: #6f6e6e;
}

.left-nav > ul a:hover {
    color: #ef5b70;
}

.catalogue-main {
    margin-left: 50px;
    width: 846px;
}

.catalogue-main-filter {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalogue-main-filter h3 {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}


.catalogue-main-filter .filter-wrapper {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 40px;
}

.trending {

    width: 180px;
}

.trending .filter-wrapper > div {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;


}






.catalogue-main-filter .trending a + a {
    padding: 0 8px;
    border-left: 1px solid #dfdfdf;
}

.catalogue-main-filter .trending a {
    padding-right: 8px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;

}

.catalogue-main-filter .trending a:hover {
    color: #ef5b70;
}

.size {
    margin-left: 110px;

}

.size .filter-wrapper > div {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.size label {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    position: relative;
    cursor: pointer;
    width: 48px;


    color: #6f6e6e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.size label + input + label {
    margin-left: 10px;
}

.size input {
    display: none;
}


.checkmark {
    height: 14px;
    width: 14px;
    margin-right: 8px;
    border: 1px solid #eee;
}

.size .checkmark:after {
    display: none;
    content: "\2714";
    position: absolute;
    left: 2px;
    top: -2px;
    color: #444;
}

.size input:checked + label .checkmark:after {
    display: block;
}

.price {
    margin-left: 60px;
    color: #6f6e6e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

}


.price input {
    width: 230px;
}



.output-value {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.output-value span {
    position: relative;
    top: -8px;
}


.sort {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    margin-top: 40px;
    background-color: #f3f3f3;
}


.sort-container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25px;
    margin-left: 10px;
    border: 1px solid #ebebeb;

}

.sort-container > * {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background-color: #fff;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
}


.sort-label {
    width: 60px;
    border-right: 1px solid #ebebeb;
    text-align: center;

}

.sort-select {
    width: 100px;
    margin-left: 0;
}

.sort-select select {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    border: none;
    color: #6f6e6e;
}

.sort-select select:focus {
    outline: none;
}

.sort-container:last-child {
    margin-left: 10px;
}

.sort-container:last-child .sort-label {
    width: 50px;
}

.sort-container:last-child .sort-select {
    width: 50px;
}

.product-container {
    margin-top: 45px;
}


.pages {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
}

.numbers {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 264px;
    padding: 0;
    margin: 40 0 0;
    height: 47px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    list-style: none;

    font-size: 16px;
    font-weight: 700;
    /*color: #ef5b70;*/
}

.numbers li,.numbers a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 11%;

    
}

.numbers .active {
    color: #ef5b70;
}

.numbers a {
    width: 100%;
    color: #c4c4c4;
}

.numbers a:hover {
    color: #ef5b70;
}

.numbers .fas {
    font-size: 20px;
}

.numbers .fa-angle-left {
    color: #aaa;
}

.pages .view-all {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 153px;
height: 47px;
border-radius: 3px;
border: 1px solid #ef5b70;
color: #ef5b70;
font-size: 16px;
font-weight: bold;
}
.pages a.view-all:hover {
    color:#fff;
    background-color: #ef5b70;
}
